body {
    background-image:url(image/background.jpg);
    background-color:white;
}

.word {
    width:1400px;
    left:50%;
    position:absolute;
    margin-left:-700px;
    font-size:30px;
}

.biaoti {
    font-family: "黑体";
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
}

.fubiao {
    font-family: "微软雅黑";
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

.left {
    text-align: left;
}

.zhong {
    text-align: center;
}

#mingyan {
    font-family: "宋体";
    font-size: 40px;
    text-align: right;
}